@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#navigation,
#navigation ul,
#navigation ul li,
#navigation ul li a,
#navigation #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#navigation:after,
#navigation > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#navigation #menu-button {
    display: none;
}

#navigation {
    font-family: Montserrat, sans-serif;
    background: #39b3e6;
}

#navigation > ul > li {
    float: left;
}

#navigation.align-center > ul {
    font-size: 0;
    text-align: center;
}

#navigation.align-center > ul > li {
    display: inline-block;
    float: none;
}

#navigation.align-center ul ul {
    text-align: left;
}

#navigation.align-right > ul > li {
    float: right;
}

#navigation > ul > li > a {
    padding: 17px;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 700;
    text-transform: uppercase;
}

#navigation > ul > li:hover > a {
    color: #ffffff;
}

#navigation > ul > li.has-sub > a {
    padding-right: 30px;
}

#navigation > ul > li.has-sub > a:after {
    position: absolute;
    top: 23px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #eeeeee;
    content: '';
}

#navigation > ul > li.has-sub > a:before {
    position: absolute;
    top: 20px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #eeeeee;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

#navigation > ul > li.has-sub:hover > a:before {
    top: 24px;
    height: 0;
}

#navigation ul ul {
    position: absolute;
    left: -9999px;
}

#navigation.align-right ul ul {
    text-align: right;
}

#navigation ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

#navigation li:hover > ul {
    left: auto;
}

#navigation.align-right li:hover > ul {
    left: auto;
    right: 0;
}

#navigation li:hover > ul > li {
    height: 37px;
}

#navigation ul ul ul {
    margin-left: 100%;
    top: 0;
}

#navigation.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}

#navigation ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 11px 15px;
    width: 225px;
    font-size: 14px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 400;
    background: #39b3e6;
}

#navigation ul ul li:last-child > a,
#navigation ul ul li.last-item > a {
    border-bottom: 0;
}

#navigation ul ul li:hover > a,
#navigation ul ul li a:hover {
    color: #ffffff;
}

#navigation ul ul li.has-sub > a:after {
    position: absolute;
    top: 17px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #eeeeee;
    content: '';
}

#navigation.align-right ul ul li.has-sub > a:after {
    right: auto;
    left: 11px;
}

#navigation ul ul li.has-sub > a:before {
    position: absolute;
    top: 14px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #eeeeee;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

#navigation.align-right ul ul li.has-sub > a:before {
    right: auto;
    left: 14px;
}

#navigation ul ul > li.has-sub:hover > a:before {
    top: 18px;
    height: 0;
}

#navigation.small-screen {
    width: 100%;
}

#navigation.small-screen ul {
    width: 100%;
    display: none;
}

#navigation.small-screen.align-center > ul {
    text-align: left;
}

#navigation.small-screen ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
}

#navigation.small-screen ul ul li,
#navigation.small-screen li:hover > ul > li {
    height: auto;
}

#navigation.small-screen ul li a,
#navigation.small-screen ul ul li a {
    width: 100%;
    border-bottom: 0;
}

#navigation.small-screen > ul > li {
    float: none;
}

#navigation.small-screen ul ul li a {
    padding-left: 25px;
}

#navigation.small-screen ul ul ul li a {
    padding-left: 35px;
}

#navigation.small-screen ul ul li a {
    color: #eeeeee;
    background: none;
}

#navigation.small-screen ul ul li:hover > a,
#navigation.small-screen ul ul li.active > a {
    color: #ffffff;
}

#navigation.small-screen ul ul,
#navigation.small-screen ul ul ul,
#navigation.small-screen.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
}

#navigation.small-screen > ul > li.has-sub > a:after,
#navigation.small-screen > ul > li.has-sub > a:before,
#navigation.small-screen ul ul > li.has-sub > a:after,
#navigation.small-screen ul ul > li.has-sub > a:before {
    display: none;
}

#navigation.small-screen #menu-button {
    display: block;
    padding: 17px;
    color: #eeeeee;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

#navigation.small-screen #menu-button:after {
    position: absolute;
    top: 23px;
    right: 17px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    content: '';
    box-sizing: content-box;
}

#navigation.small-screen #menu-button:before {
    position: absolute;
    top: 17px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #eeeeee;
    content: '';
    box-sizing: content-box;
}

#navigation.small-screen #menu-button.menu-opened:after {
    top: 24px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#navigation.small-screen #menu-button.menu-opened:before {
    top: 24px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#navigation.small-screen .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 48px;
    width: 48px;
    cursor: pointer;
}

#navigation.small-screen .submenu-button.submenu-opened {
    background: #39b3e6;
}

#navigation.small-screen ul ul .submenu-button {
    height: 36px;
    width: 36px;
}

#navigation.small-screen .submenu-button:after {
    position: absolute;
    top: 23px;
    right: 20px;
    width: 8px;
    height: 2px;
    display: block;
    background: #eeeeee;
    content: '';
}

#navigation.small-screen ul ul .submenu-button:after {
    top: 16px;
    right: 14px;
}

#navigation.small-screen .submenu-button.submenu-opened:after {
    background: #ffffff;
}

#navigation.small-screen .submenu-button:before {
    position: absolute;
    top: 20px;
    right: 23px;
    display: block;
    width: 2px;
    height: 8px;
    background: #eeeeee;
    content: '';
}

#navigation.small-screen ul ul .submenu-button:before {
    top: 13px;
    right: 17px;
}

#navigation.small-screen .submenu-button.submenu-opened:before {
    display: none;
}

#navigation.small-screen.select-list {
    padding: 5px;
}