/* 
Elly Boyd
WEB200
Final Project

style.css
main stylesheet
*/


/* CSS RESET */
* {
    padding:0;
    margin:0;
}
/* END */


html {
    background-color:#fff;
    font-family:'arial', sans-serif;
}

body {
    width:100%;
    background-color:white;
    margin:auto;
}

/*  GLOBAL HEADER STYLES  */
#rmdInsightLogo {
    margin-left:20px;
    margin-top:20px;
    margin-bottom:20px;
}

#logIn {
    float:right;
}

#logIn button {
    padding:10px 30px 10px 30px;
    margin-top:25px;
    margin-right:50px;
    margin-bottom:18px;
    font-size:18px;
    font-weight:bold;
    text-shadow:-.5px .5px 0px #000;
    background-color:dodgerblue;
    color:white;
}

#logIn p.signUp {
    font-weight:bold;
    font-size:16px;
    padding-left:30px;
    color:dodgerblue;
    text-shadow:-.5px -.5px 0px lawngreen;
}

#bannerHome {
    width:100%;
    margin-top:25px;
    border-top:10px solid lawngreen;
    border-bottom:10px solid lawngreen;
    box-sizing:border-box;
}
/*  END GLOBAL HEADER STYLES  */





/* GLOBAL HOME STYLES */
#left {
    float:left;
    width:50%;
}

#right {
    float:right;
    width:50%;
}

#leftContent {
    padding:50px 20% 125px 20%;
    text-align:justify;
}

#homeLeftText {
    font-size:200%;
    line-height:1.5em;
    color:dodgerblue;
    font-family:'bauhaus', sans-serif;
    font-style:italic;
    font-weight:bold;
    text-shadow:-1px 1px 1px black;
    width:350px;
}

#rightContent {
    padding:50px 10px 50px 30%;
    text-align:justify;
}

#rightListHeadline {
    font-size:200%;
    line-height:2em;
}

#homeList {
    font-size:150%;
    line-height:1.5em;
}
/*  END GLOBAL HOME STYLES  */





/*  BEGIN GLOBAL MAIN STYLES  */
#pageContent {
    width:100%;
}
/* END GLOBAL "MAIN" STYLES */





/*  GLOBAL FOOTER STYLES  */
#rightListHeadline, #homeList {
    width:300px;
}

#linksLeft {
    width:34%;
    float:left;
}

#leftFootLinks {
    padding-bottom:20px;
}

#leftLinksList {
    list-style-type:none;
}

#leftLinksList > li {
    padding:10px;
}

#linksCenter {
    width:33%;
    float:left;
}

#centerFootLinks {
    padding-bottom:20px;
}

#centerLinksList {
    list-style-type:none;
}

#centerLinksList > li {
    padding:10px;
}

#linksRight {
    float:right;
    width:33%;
}

#rightFootLinks {
    padding-bottom:20px;
}

#rightLinksList {
    list-style-type:none;
}

#rightLinksList > li {
    padding:10px;
}

#linksMobile {
    display:none;
}

#copyright {
    clear:both;
    padding-top:100px;
    padding-bottom:50px;
    background-color:dodger-blue;
    
}

li.rightHomeList {
    text-indent: 2em;
}

footer {
    font-family:'arial', sans-serif;
    text-align:center;
    clear:both;
    padding:75px 0px 100px 0px;
    height:250px;
    background-color:dodgerblue;
}

footer a {
    font-family:'arial', sans-serif;
    padding:20px 0px 20px 0px;
    margin:10px 0px 10px 0px;
}
/*  END GLOBAL FOOTER STYLES  */


/* RESPONSIVE STYLES */

/* RESPONSIVE LARGE */
@media all and (min-width:1000px) {
    
    #bannerMobile {
        display:none;
    }
    
    article {
        width:100%;
    }

    img {
        clear:left;
    }

    img.featuredImage {
        float:left;
        margin:25px;
    }

    h3.excerptHeadline {
        font-size:24px;
        font-weight:bold;
        padding-bottom:24px;
        padding-left:15px;
    }

    p.excerpt {
        font-size:16px;
        font-weight:normal;
        line-height:24px;
        padding-left:16px;
        padding-right:32px;
        padding-bottom:16px;
    }

    #articleTxtOne {
        padding-top:35px;
        float:left;
        width:65%;
    }
    
    #articleTxtTwo {
        padding-top:35px;
        float:left;
        width:65%;
    }
    #articleTxtThree {
        padding-top:35px;
        float:left;
        width:65%;
    }
    #articleTxtFour {
        padding-top:35px;
        float:left;
        width:65%;
    }
    #articleTxtFive {
        padding-top:35px;
        float:left;
        width:65%;
    }
    
    #articleTxtSix {
        padding-top:35px;
        float:left;
        width:65%;
    }
    
    #articleTxtSeven {
        padding-top:35px;
        float:left;
        width:65%;
    }
    
    #linksMobile {
        display:none;
}
    
    #copyright {
        background-color:dodgerblue;
    }
    
}
/* END RESPONSIVE LARGE */





/* RESPONSIVE MEDIUM */
@media all and (min-width:751px) and (max-width:999px) {
    
    #bannerHome {
        display:none;
    }
    
    #bannerMobile {
        margin-top:25px;
        width:100%;
        border-top:10px solid lawngreen;
        border-bottom:10px solid lawngreen;
    }
    
    #left {
        float:left;
        width:70%;
        padding:50px 100px 10px 100px;
    }
    
    #right {
        float:none;
        width:70%;
        padding:0px 100px 10px 100px;
        clear:left;
    }
    
    img {
        clear:left;
    }
    
    img.featuredImage {
        float:left;
        margin:25px;
    }
    
    h3.excerptHeadline {
        font-size:20px;
        font-weight:bold;
        padding-bottom:20px;
        padding-left:15px;
    }
    
    p.excerpt {
        font-size:16px;
        font-weight:normal;
        line-height:24px;
        padding-left:16px;
        padding-right:32px;
        padding-bottom:16px;
}
    
    #articleTxtOne {
        padding-top:30px;
        float:left;
        width:60%;
    }
    
    #articleTxtTwo {
        padding-top:30px;
        float:left;
        width:60%;
}
    #articleTxtThree {
        padding-top:30px;
        float:left;
        width:60%;
}
    #articleTxtFour {
        padding-top:30px;
        float:left;
        width:60%;
}
    #articleTxtFive {
        padding-top:30px;
        float:left;
        width:60%;
}
    
    #articleTxtSix {
        padding-top:30px;
        float:left;
        width:60%;
}
    
    #articleTxtSeven {
        padding-top:30px;
        float:left;
        width:60%;
}
    
    #linksMobile {
        display:none;
}
    
    #copyright {
        padding-bottom:50px;
        background-color:dodgerblue;
    }
    
    
}
/* END RESPONSIVE MEDIUM */





/* RESPONSIVE SMALL */

@media all and (max-width:750px) {
    
    #bannerHome {
        display:none;
    }
    
    #bannerMobile {
        margin-top:25px;
        width:100%;
        border-top:10px solid lawngreen;
        border-bottom:10px solid lawngreen;
    }
    
    #left {
        float:left;
        width:70%;
        padding:0px 25px 10px 10px;
    }
    
    #homeLeftText {
        width:250px;
    }
    
    #right {
        float:none;
        width:70%;
        padding:0px 25px 10px 10px;
        clear:left;
    }

    img {
        clear:left;
    }

    img.featuredImage {
        float:left;
        margin:25px 50px;
    }

    h3.excerptHeadline {
        font-size:24px;
        font-weight:bold;
        padding-bottom:24px;
        padding-left:14px;
    }

    p.excerpt {
        font-size:14px;
        font-weight:normal;
        line-height:21px;
        padding-left:14px;
        padding-right:25px;
        padding-bottom:14px;
    }
    
    #articleTxtOne {
        clear:left;
        padding-left:16px;
    }
    
    #articleTxtTwo {
        clear:left;
        padding-left:16px;
}
    #articleTxtThree {
        clear:left;
        padding-left:16px;
}
    #articleTxtFour {
        clear:left;
        padding-left:16px;
}
    #articleTxtFive {
        clear:left;
        padding-left:16px;
}
    
    #articleTxtSix {
        clear:left;
        padding-left:16px;
}
    
    #articleTxtSeven {
        clear:left;
        padding-left:16px;
}
    
    #linksLeft {
        display:none;
    }
    
    #linksCenter {
        display:none;
    }
    
    #linksRight {
        display:none;
    }
    
    #linksMobile {
        display:block;
}
    
    #copyright {
        background-color:dodgerblue;
    }
    
}
/* END RESPONSIVE SMALL */